[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "cdd"]
	path = cdd
	url = https://github.com/m4i/cdd
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
